
.pagination{
    margin: 30px;
}
.pagination button{
    padding: 0 10px;
    margin-right: 20px;
    margin-top:10px;
    width: 50px;
    cursor: pointer;

}
.pagination .selected{
    background-color: rgb(43, 43, 224);
    color: white;
}